::selection {
  color: var(--secondary-color);
}

.activities_container {
  padding: 3rem 0 4rem 0;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  .single_activity {
    width: 16%;

    min-height: 60vh;
    border-radius: 20px;
    background-color: var(--third-color);

    div {
      border-radius: 20px;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 18px 18px 0 0;
      }
    }

    h3 {
      margin-top: 1rem;
      text-align: center;
      font-size: 24px;
    }

    .informations {
      padding: 1rem;
    }

    .link_container {
      width: 100%;
      display: flex;
      justify-content: end;

      .btn_more {
        padding: 10px;
        margin-right: 1rem;
        margin-top: 2rem;
        width: 8rem;
        background-color: var(--secondary-color);
        border-radius: 20px;
        color: black;
        text-align: center;

        &:hover {
          background-color: #f0a381;
        }
      }

      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}