* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter_form {
  width: 100%;
  display: flex;

  justify-content: space-around;
  padding: 1rem;

  .category_container,
  & .target_container {
    width: 20%;
    display: flex;
    justify-content: space-around;

    label {
      border: 3px solid palegoldenrod;
      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
    }
  }

  .target_select,
  .category_select {
    background-color: #FFFFE2;
  }

  .submit_btn {
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    width: 7rem;
    padding: 10px;

    &:hover {
      opacity: 0.7;
    }
  }
}